{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скачать адаптивный шаблон интернет-магазина бесплатно</title>




    <link rel="shortcut icon" href="{% static 'fav/favicon.ico'%}" type="image/x-icon">
    <link rel="manifest" href="http://freehtmlthemes.ru/assets/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'fav/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="yandex-verification" content="aa71dccedcb105a2" />
    <meta name="google-site-verification" content="Im0bvqpm19i8GuQEcAq_VgWNQB9HrJlIzNhJtMmsYyw" />
    <!-- CSS Style -->
    <!--<link rel="stylesheet" href="assets/css/animate.css" type="text/css">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link href="{% static 'css/style.css%3F5efdc26801a33ce23106d330f6bd5aed.css' %}" rel="stylesheet">
    <!-- Google Fonts -->



    <link rel="stylesheet" href="{% static 'components/likedislike/css/styles.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'components/ajaxform/css/default.css' %}" type="text/css" />
</head>
<body class="cms-index-index">
    <div class="page"> 
         <!-- Header -->
  <header class="header-container">
   <div class="header-top">
       <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="header container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6"> 
          <!-- Header Logo -->
          <a class="logo" title="" href="/"><div><span>Spider </span>Sale</div><div>Интернет магазин шаблонов сайтов.</div></a>
          <!-- End Header Logo --> 
        </div>

      </div>
      <br/>
    </div>
  </header>
  <!-- end header --> 
          <!-- Navbar -->
        <nav>
    <div class="container">
      <div class="nav-inner"> 

        <ul id="nav" class="hidden-xs">
            <li  class="drop-menu level0 first"><a href="/"><span>Главная</span></a></li>
            <li  class="drop-menu level0 parent"><a href="/"><span>Категории</span></a>
                <ul class="level1" style="display: none;">
                    <li  class="drop-menu level0 first parent">
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end nav -->
        <div class="main-container col2-left-layout">
            <div class="main container">
                <div class="row">
                    <section class="col-main col-sm-9 col-sm-push-3">
                        <div class="category-title"><h1>Адаптивные шаблоны сайтов</h1></div>
                        <br/>
                        <div class="category-products">
                            <ul class="products-grid">
                                {% for product in products %}
                                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="item">
                                            <div class="col-item">

                                                <div class="product-wrapper">
                                                    <div class="thumb-wrapper">
                                                        <a href="#" class="thumb flip">
                                                            <span class="face"><img src="{{ product.image.url }}"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="info-inner">
                                                    <div class="item-title">
                                                        <a href="#">{{ product.title }}</a>
                                                    </div>
                                                </div>
                                                <a href="{% url 'detail_product' product.id %}" class="button btn-cart download ">Подробнее</a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <br/>
                    </section>
                    <aside class="col-right sidebar col-sm-3 col-xs-12 col-sm-pull-9">
                        <br/>
                        <div class="side-nav-categories">
                            <div class="block-title">Шаблоны</div>
                            <div class="box-content box-category">
                                <ul>
                                    {% for category in categories %}
                                        <li><a href="#" title="Бесплатные шаблоны" >{{ category.title }}</a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="footer-logo">
                                <div class="logo">
                                    <span>Spider </span>Sale
                                </div>
                            </div>
                        </div>
                            <p>На нашем сайте вы найдете большое количество современных html и psd шаблонов доступных для скачивания. Мы стараемся часто обновлять все разделы и подыскивать для Вас новые и интересные решения.</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <h4>Категории</h4>
                            <ul class="links">
                                {% for category in categories %}
                                    <li><a href="/" title="Бизнес и услуги" >{{ category.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 coppyright"> &copy; 2000-2020 Spider sale. Все права защищены.</div>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer --> 
    </div>
    <!-- JavaScript --> 

<script type="text/javascript" src="../assets/js/jquery.min.js"></script> 
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="../assets/js/common.js%3Fa4c4701b433ac2b458cf56d6e9192518"></script> 
<script type="text/javascript" src="../assets/js/slider.js%3F70e0add4e6b2abf7ffffe077361cfb46"></script> 
<script src='https://yastatic.net/highlightjs/8.2/highlight.min.js'/></script>
<script type='text/javascript'>hljs.initHighlightingOnLoad();</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-35208500-2', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">var url_assets = "/assets/components/likedislike/"; var likedislike_ctx = "web";</script><script src="../assets/components/likedislike/js/web/likedislike.js"></script>
<script type="text/javascript" src="../assets/components/ajaxform/js/default.js"></script>
<script type="text/javascript">AjaxForm.initialize({"assetsUrl":"\/assets\/components\/ajaxform\/","actionUrl":"\/assets\/components\/ajaxform\/action.php","closeMessage":"\u0437\u0430\u043a\u0440\u044b\u0442\u044c \u0432\u0441\u0435","formSelector":"form.ajax_form","pageId":15});</script>
</body>
</html>